.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.site-header{
  height: 130px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: silver;
}

.site-header img{
    height: 100px;
    width: 100px;
}

img {
  height: 100px;
}

.card-info{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.border{
  height: 200px;
  width: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: silver;
  margin: 60px;
  border-radius: 10px;
}

.card-info li{
  text-align: left;
}

.display-team{
  color: silver;
  border: 2px solid silver;
}

.team-display{
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.team-display ul{
  padding: 10px;
}

.team-display img{
  padding: 5px 0px;
}

.team-display button{
  height: 20px;
  width: 120px;
  margin: 25px 0px;
}

.team-display input{
  height: 20px;
  width: 120px;
  margin: 25px 0px;
}